{% extends "learning_logs/base.html" %} 
{% load bootstrap4 %}
{% block page_header %} 
    <h1>Add a new topic:</h1>
{% endblock page_header %}
{% block content %} 
    <form method="post" action="{% url 'learning_logs:new_topic' %}" class="form">
        {% csrf_token %} 
        {% bootstrap_form form %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" value="True" id="public" />
            <label class="form-check-label">
                Make it public?
            </label>
        </div>
        {% buttons %}
            <button name="submit" class="btn btn-primary">Add topic</button>
        {% endbuttons %}
    </form>
{% endblock content %}